* { margin: 0; padding: 0; outline: 0; }
a { text-decoration: none; }

html, body { height: 100%; }

input, textarea { appearance: none; -webkit-appearance: none; }

::selection {
    background: $light-blue;
    color: $white;
}
::-moz-selection {
    background: $light-blue;
    color: $white;
}

.right { float: right; }
.left { float: left; }
.hidden { display: none; }