.main-container {
    min-height: 100%;
    margin-bottom: -142px; // equal to footer height
}
.main-container:after {
    content: '';
    display: block;
}
.footer,
.main-container:after {
    height: 142px;
}
.footer {
    background: #ffa500;
}
